DATABASE_URL="postgresql://testkitchen:testkitchen@localhost:5432/testkitchen?schema=public"
SESSION_SECRET="change-this-to-a-random-32-char-string-at-least-32-chars"
SEED_PASSWORD="your-login-password-here"
