
<div class="homepage-div">


<div id="homepage-image">
  <img src="/images/calum-lewis-vA1L1jRTM70-unsplash.jpg" alt="">
</div>

<div id="intro-div">
<h1>Welcome to your test kitchen</h1>

<h4>A place where creativity meets organization. <br> <br>With test kitchen as your digital cookbook, 
  you can now store your own recipes or import one from any of your favorite websites. Create dated notes and 
  edit any part of your recipes as you discover new things. Watch your recipes 
  evolve and let your imagination run free. <br><br> <a href="/signup" id="get-started">Get Started</a>
</h4>
</div>


</div>
