<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Playfair+Display&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

  <div id="top-nav">

    <div id="title-div">
    <a id="main-title" href="/">test kitchen</a>
    </div>

    <div id="buttons-div">
    <a href="/recipes/user">dashboard</a>
    <a href="/signup">signup</a>
    <a href="/login">login</a>
    <form action="/logout" method="post"><button id="logout">logout</button></form>
    </div>

  </div>

  <div id="body-div">
  {{{body}}}
  </div>

  <footer>
    <div id="footer-info">
      <p>This app was made with love and inspired by my mothers kitchen. Thank you Ironhack staff and my fellow cohorts for the help and support! <br><br> Andre Cabrera &nbsp; 2019</p>
    </div>

    <div id="footer-links">
      <p>some links will go here</p>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/javascripts/script.js"></script>
</body>
</html>
 
