<h2>Create new Recipe Here</h2>

<form action="/recipes/create-new-recipe" method="POST">
  <label>Recipe Name</label>
  <input name="name" type="text">
  <label>Source URL</label>
  <input name="source" type="text">
  <label>Recipe Photo</label>
  <input type="file" name="image" id="">
  <label>tags</label>
  <input name="tags" type="text">
  <label>Notes</label>
  <input name="notes" type="text">
  <label>Instructions</label>
  <input name="instructions" type="text">
  <label>Detailed Instructions</label>
  <input name="detailedInstructions" type="text">
  <button>Create New Recipe</button>
</form>
