<div class="user-recipes">

<div class="top-buttons">
  <form action="/recipes/newRecipe"><button>create new recipe</button></form>

  <form action="/recipes/create" method="POST">
    <label for="">Enter URL</label>
    <input type="text" name="sourceURL" id="">
    <button>create new recipe from URL</button>
  </form>

  <button><a href="/recipes/newRecipe">create new recipe(login first)</a></button>

</div>


<div class="the-recipes">

{{#each userRecipes}}
<div class="each-recipe">
<h1>{{this.name}}</h1>

<a href="/recipes/userRecipe/{{this._id}}">take me to this recipe</a>
<a href="/recipes/edit/{{this._id}}">edit this recipe</a>
</div>
{{/each}}

</div>

</div>