<div class="user-recipes">

<div class="top-buttons">
  <form action="/recipes/newRecipe"><button>create new recipe</button></form>
  <form action="#"><button>Button to create new recipe from URL.....</button></form>
</div>


<div class="the-recipes">

{{#each userRecipes}}
<div class="each-recipe">
<h1>{{this.name}}</h1>

<a href="/recipes/userRecipe/{{this._id}}">take me to this recipe</a>
</div>
{{/each}}

</div>

</div>