<h1>THIS IS THE USER HOMEPAGE AND LOTS OF COOL RECIPES WILL BE SHOWN HERE</h1>


<form action="/recipes/newRecipe"><button>create new recipe</button></form>
<form action="/recipes/userRecipes"><button>go to single recipe (test)</button></form>